:root {
  --main: #ffffff;
  --bg: #222222;
  --card: #ffffff;
  --hover: #72a7db;
  --accent: ;
  --text: #013328;
  --textbefore: #005c48;
  --textopp: #2f181b;
  --gap: 1rem;
  --max-width: 600px;
  --border: 1px solid #ccc;
}
@font-face {
  font-family: "BCsklonar";
  src: url("../Fonts/bc-sklonar-light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "BCsklonar";
  src: url("../Fonts/bc-sklonar-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
img {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
* {
  margin: 0px;
  font-family: "BCsklonar", sans-serif;
  font-weight: normal;
  font-style: normal;
}
/* START TOPBAR */

/* END TOPBAR */
/* START HEADER */
.headerContainer {
  display: flex;
  justify-content: space-between;
  position: sticky;
  align-items: center;
  z-index: 3;
  height: 80px;
  background-color: var(--main);
  top: 0px;
  padding: 0;
  border-bottom: #ccc 0.1rem solid;
  width: 100%;
  box-sizing: border-box;
  padding: 0 1.5rem 0 1.5rem;
}
.headerLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.headerLeft img {
  height: 45px;
}
.headerLeft a {
  text-decoration: none;
  color: var(--text);
  font-size: 1.2rem;
}
.headerLeft a:hover {
  text-decoration: underline;
}
.headerRight {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.headerRight #cartBtn {
  cursor: pointer;
}
.headerRight #profileBtn {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.profileDropdown {
  position: absolute;
  width: 6rem;
  background-color: #013328;
  color: white;
  right: 1.5rem;
  top: 80px;
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  border-radius: 8px;
  min-width: 100px;
}
.profileDropdownActive {
  display: flex !important;
}
.headerHamburger {
  display: none;
  position: absolute;
  left: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
}
#hamburgerOpen {
  display: block;
  cursor: pointer;
}
.hamburgerActive {
  display: none !important;
}
#hamburgerClose {
  display: none;
}
.hamburgerCloseActive {
  display: block !important;
  cursor: pointer;
}
@media (max-width: 900px) {
  .headerLeft a {
    font-size: 1rem;
  }
  .headerLeft {
    gap: 1.2rem;
  }
}
@media (max-width: 768px) {
  .headerLeft .headerLinkText {
    display: none;
  }
  .headerLeft img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .headerHamburger {
    display: block;
  }
}
/* END HEADER */
/* START HAMBURGER MENU */
.hamburgerMenuContainer {
  display: none;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: white;
  color: var(--text);
  height: 300px;
  width: 100%;
  bottom: 0;
  z-index: 10;
}
.hamburgerMenuContainer div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 80%;
  border-bottom: 2px solid #ccc;
}
.hamburgerMenuOverlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9;
}
/* END HAMBURGER MENU */
/* START LANDING IMAGE GRID */
.landingImageGrid {
  width: 100%;
  display: flex;
}
.landingImageGrid > img,
.landingImageGrid > figure {
  flex: 1;
  position: relative;
  overflow: hidden;
  margin: 0;
}
.landingImageGrid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.landingImageGrid figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.landingImageText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 2;
  background: transparent;
}
/* END LANDING IMAGE GRID */

/* START PRODUCT LISTING IMAGE GRID */
.productGridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  margin: 2rem auto;
}
@media (max-width: 820px) {
  .productGridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
.productFirstDiv {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  gap: 1rem;
}
.productFirstDiv h1 {
  font-size: 2rem;
  margin-top: 40%;
}
.productFirstDivButton {
  margin-top: 30%;
  color: white;
  background-color: var(--textbefore);
  border: none;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  border-radius: 1rem;
  transition: 0.2s all ease-in-out;
}
.productFirstDivButton:hover {
  background-color: var(--text);
}
.productFigure {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0.5rem 0;
  margin: 0;
}
.productFigureImage {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.productFigureDetails {
  margin: 1rem;
  width: 80%;
}
.productTitle {
  font-size: 1rem;
  margin-top: 0.5rem;
  font-weight: 600;
}

.productPrice {
  color: #444;
}

/* END IMAGE GRID */

/*
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 1 / 4 / 2 / 5; }
.div5 { grid-area: 2 / 1 / 3 / 2; }
.div6 { grid-area: 2 / 2 / 3 / 3; }
.div7 { grid-area: 2 / 3 / 3 / 4; }
.div8 { grid-area: 2 / 4 / 3 / 5; }
*/
/* START FOOTER */
.footerContainer {
  width: 100%;
  height: 350px;
  background-color: var(--text);
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.footerTop {
  background-color: var(--text);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 15%;
}
.footerTop .footerLink {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
}
.footerTop .footerLink:hover {
  text-decoration: underline;
}
.footerMiddle {
  background-color: var(--text);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 70%;
}
.footerMiddle .footerMiddle0 {
  flex: 3.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding: 2rem 2rem 2rem 2rem;
}
.footerMiddle .footerMiddle0 img {
  width: 20px;
  height: 20px;
}
.footerMiddle .footerMiddle0 .footerFrayedLogo {
  width: 33.3%;
  height: auto;
}
.footerMiddle .footerMiddle0 .socialLinksContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.6rem;
}
.footerSocialIcon {
  text-decoration: none;
  color: white;
  display: inline-block;
  transition: color 0.3s ease, transform 0.3s ease;
}
.footerSocialIcon:hover {
  transform: scale(1.1);
}
.footerMiddle .footerMiddle0 form {
  display: flex;
  width: 50%;
  border: #757575 1px solid;
  height: 3rem;
}
.footerMiddle .footerMiddle0 .inputEmail {
  flex: 8;
  padding: 0 0 0 1rem;
  border: none;
}
.footerMiddle .footerMiddle0 .inputSubscribe {
  flex: 4;
  padding: 0;
  border: none;
  color: white;
  background-color: var(--text);
}
.footerMiddle .footerHeader {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: white;
  text-decoration: none;
}
.footerMiddle .footerText {
  font-size: 1rem;
  margin-bottom: 0.3rem;
  color: white;
}
.footerMiddle .footerMiddle1 {
  flex: 2;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 2rem 2rem 2rem;
  text-decoration: none;
}
.footerMiddle .footerMiddle2 {
  flex: 2;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 2rem 2rem 2rem;
  text-decoration: none;
}
.footerBottom {
  background-color: #013328;
  color: rgb(219, 219, 219);
  display: flex;
  padding: 0 2rem 0 2rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15%;
  box-sizing: border-box;
}
.footerAccordianContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 200px;
  bottom: 0;
  background-color: var(--text);
  color: white;
  z-index: 9;
  transform: translateY(2px);
}
.footerAccordianContainer div {
  color: white;
  width: 75%;
  border-bottom: 2px solid #ccc;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  align-items: center;
  flex: 1;
  cursor: pointer;
}
.footerAccordianSocials {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  align-items: center;
  gap: 1rem;
  flex: 1.5 !important;
  width: 100%;
}
.footerBottomAccordian {
  box-sizing: border-box;
  background-color: #013328;
  color: rgb(219, 219, 219);
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  gap: 1rem;
  bottom: 0;
}
@media (max-width: 768px) {
  .footerContainer {
    display: none;
  }
  .footerAccordianContainer {
    display: flex;
  }
}
/* END FOOTER */
