:root {
  --main: #ffffff;
  --bg: #222222;
  --card: #ffffff;
  --hover: #72a7db;
  --accent: ;
  --text: #013328;
  --textbefore: #005c48;
  --textopp: #2f181b;
  --gap: 1rem;
  --max-width: 600px;
  --border: 1px solid #ccc;
}
@font-face {
  font-family: "BCsklonar";
  src: url("../Fonts/bc-sklonar-light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "BCsklonar";
  src: url("../Fonts/bc-sklonar-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
img {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
* {
  margin: 0px;
  font-family: "BCsklonar", sans-serif;
  font-weight: normal;
  font-style: normal;
}
/* START TOPBAR */

/* END TOPBAR */
/* START HEADER */
.headerContainer {
  display: flex;
  justify-content: space-between;
  position: sticky;
  align-items: center;
  z-index: 10;
  height: 80px;
  background-color: var(--main);
  top: 0px;
  padding: 0;
  border-bottom: #ccc 0.1rem solid;
  width: 100%;
}
.headerLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.headerLeft img {
  height: 45px;
}
.headerLeft a {
  text-decoration: none;
  color: var(--text);
  font-size: 1.2rem;
}
.headerLeft a:hover {
  text-decoration: underline;
}
.headerRight {
  gap: 1rem;
}
/* END HEADER */
/* START LANDING IMAGE GRID */
.landingImageGrid {
  width: 100%;
  display: flex;
}
.landingImageGrid > img,
.landingImageGrid > figure {
  flex: 1;
  position: relative;
  overflow: hidden;
  margin: 0;
}
.landingImageGrid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.landingImageGrid figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.landingImageText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 2;
  background: transparent;
}
/* END LANDING IMAGE GRID */

/* START IMAGE GRID */
.productGridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(2, auto); */
  /* grid-auto-rows: 300px; */
  gap: 1rem;
  width: 100%;
  margin: 2rem auto;
}
.productFirstDiv {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  gap: 1rem;
}
.productFirstDiv h1 {
  font-size: 2rem;
  margin-top: 40%;
}
.productFirstDivButton {
  margin-top: 40%;
  color: white;
  background-color: var(--textbefore);
  border: none;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  border-radius: 1rem;
  transition: 0.2s all ease-in-out;
}
.productFirstDivButton:hover {
  background-color: var(--text);
}
.productFigure {
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem;
  margin: 0;
}
.productFigureImage {
  width: 100%;
  flex: 1;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.productTitle {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.productPrice {
  color: #444;
  font-weight: 600;
}

/* END IMAGE GRID */
<<<<<<< HEAD
=======

/*
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 1 / 4 / 2 / 5; }
.div5 { grid-area: 2 / 1 / 3 / 2; }
.div6 { grid-area: 2 / 2 / 3 / 3; }
.div7 { grid-area: 2 / 3 / 3 / 4; }
.div8 { grid-area: 2 / 4 / 3 / 5; }
*/
/* START FOOTER */
.footerContainer {
  width: 100%;
  height: 400px;
  background-color: var(--text);
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.footerTop {
  background-color: #7f7f7f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 15%;
}
.footerTop .footerLink {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
}
.footerTop .footerLink:hover {
  text-decoration: underline;
}
.footerMiddle {
  background-color: #007057;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 70%;
}
.footerMiddle .footerMiddle0 {
  flex: 3.5;
  display: flex;
  flex-direction: column;
  background-color: #72a7db;
  color: white;
}
.footerMiddle .footerMiddle0 img {
  width: 25%;
  height: auto;
}
.footerMiddle .footerMiddle0 form {
  display: flex;
  width: 40%;
  border: #757575 1px solid;
  height: 3rem;
}
.footerMiddle .footerMiddle0 .inputEmail {
  flex-grow: 1;
  padding: 0;
  border: none;
}
.footerMiddle .footerMiddle0 .inputSubscribe {
  padding: 0;
  border: none;
  color: white;
  background-color: var(--text);
}
.footerMiddle .footerAbout {
  flex: 2;
  display: flex;
  background-color: bisque;
}
.footerMiddle .footerContact {
  flex: 2;
  display: flex;
  background-color: darkslateblue;
}
.footerBottom {
  background-color: #013328;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 15%;
}
/* END FOOTER */
>>>>>>> f7769084073dc798f3c48b8a72906d36941d561b
