* {
  box-sizing: border-box;
}
.gridContainer {
  display: grid;
  grid-template-columns: 3fr 2fr;
}
.gridContainer .productImageGridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
}
.gridContainer .imageContainer {
  margin: 0;
  padding: 0;
  width: 100%;
  aspect-ratio: 1/1;
}
.gridContainer .imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.productDetailsContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.productDetailsContainer .productTags {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.productTags p {
  font-size: 1rem;
  background-color: #ccc;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  margin-bottom: 1rem;
}
.productInformation {
  margin-bottom: 1rem;
}
.productTitle {
  font-size: 2rem;
}
.productPrice {
  font-size: 1.8rem;
}
@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }
}
